@font-face {
    font-family: heading;
    src: url(fonts/HelveticaNowText-Regular.ttf);
}

@font-face {
    font-family: futura;
    src: url(fonts/futura.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: heading, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    color: #000000;
}

*::selection {
    background-color: black;
    color: white;
}

li {
    list-style: none;
}


nav {
    padding: 32px 35px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
}

.right-div {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-right: 190px;
    overflow: hidden;
}

.right-div ul {
    display: flex;
    gap: 80px;
    align-items: center;
}

.right-div ul li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
    position: relative;
}

.list-item {
    position: relative;
}

.line {
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1.5px;
    opacity: 0;
    background-color: black;
    /* transition: all 0.5s ; */
}

.shop-section {
    display: flex;
    gap: 70px;
    padding: 10px 20px;
    border-radius: 2rem;
    position: fixed;
    right: 0;
    margin-right: 25px;
    background-color: #F7F7F7;
    z-index: 99;
}

.shop-section i {
    cursor: pointer;
    font-size: 15px;
}

.left-svg {
    height: 83px;
    width: 106px;
    overflow: hidden;
}

#svg-1 {
    opacity: 0;
}

#svg-2 {
    transform: translate(0px, -1px);
    translate: none;
    rotate: none;
    scale: none;

}

#page1 {
    min-height: 100vh;
    width: 100%;
    padding-inline: 35px;
    padding-top: 100px;
    /* display: none; */
}

#page1 h1 {
    font-size: 15.5vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 13.5vw;
    white-space: nowrap;
    letter-spacing: -6px;
    font-weight: 900;
    font-family: futura, sans-serif;
    overflow: hidden;
}


.img-section {
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
}

.img-section img {
    width: 100%;
    object-fit: cover;
}

.img-section .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 28%;
    top: 20%;
    cursor: pointer;
}

.img-section .svg svg {
    animation: svgAni 10s linear infinite;
}

.img-section .svg h3 {
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    font-weight: 800;
}

@keyframes svgAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




#page2 {
    min-height: 100vh;
    width: 100%;
    padding-inline: 35px;
    /* display: none; */
}

.page-2-top-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
}

#page2 .page-2-top .page-2-top-content span {
    font-size: 12px;
    text-transform: uppercase;
}

.page-2-top .page-2-top-content span:nth-child(1) {
    text-align: left;
}

.page-2-top span:nth-child(2) {
    text-align: right;
}

.page-2-line {
    height: 1.3px;
    width: 100%;
    background-color: #000000;
    margin-block: 4px;
}

#page2 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    overflow: hidden;
}

#page2 .cards .cards-box {
    width: 31vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

#page2 .cards .cards-box img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-shop {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 55%;
    background-color: #E5F0D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    padding-inline: 34px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card-shop .point-black {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: black;
}

.card-shop:hover {
    transform-origin: top;
    transform: scaleY(0 100px);
}

#page3 {
    min-height: 100vh;
    width: 100%;
    margin-top: 80px;
    padding-inline: 35px;
    margin-bottom: 50px;
    /* display: none; */
    position: relative;
}


#page3 h1 {
    width: 40%;
    font-size: 55px;
    font-family: futura, sans-serif;
    line-height: 55px;
}

#page3 .page3-upper-part {
    display: flex;
    justify-content: space-between;
}



#page3 .page3-upper-part .para {
    width: 40%;
    height: 200px;
    font-size: 18px;
    color: #000000;
    line-height: 25px;
    padding-right: 50px;

}

#page3 .page3-upper-part .para span {
    font-size: 12px;
}

.page-3-box-part {
    margin-bottom: 50px;
    margin-top: 200px;
}

.page-3-box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.page-3-box-container .page-3-boxes {
    width: 49%;
    min-height: 70vh;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.page-3-box-img {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.page-3-boxes .pro-price {
    text-align: center;
    font-size: 12px;
}

.page-3-boxes .pro-price h4 {
    font-weight: 100;
}

.page-3-box-img {
    display: flex;
    justify-content: center;
    height: 75%;
    width: 100%;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    padding-inline: 34px;
}

.point {
    height: 16px;
    width: 16px;
    border: 1.5px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

#active-point {
    height: 16px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content-button {
    width: 100%;
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.content-button button {
    color: black;
    background-color: #F7F7F7;
    outline: none;
    border: none;
    font-size: 25px;
    min-width: 353px;
    max-width: 600px;
    text-align: left;
    cursor: pointer;
}

.page-4-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-4-content h1 {
    text-align: center;
    width: 82%;
    font-size: 70px;
    font-family: futura;
    line-height: 75px;
    margin-top: 120px;
    margin-bottom: 120px;
    font-weight: 900;
}

.page-4-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-4-content button {
    padding: 25px 65px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    background-color: #000000;
    color: #F7F7F7;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 600;
}

.page-4-button-section p {
    width: 55%;
    text-align: center;
}

.about-owner {
    padding-top: 250px;
    display: flex;
    height: 120vh;
}

.about-owner-content {
    width: 22%;
}

.about-owner-content p {
    line-height: 25px;
    font-weight: 500;
}

.about-owner-content h3 {
    font-size: 22px;
    font-family: futura;
    font-weight: 600;
}

.about-owner-sec-images {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: calc(100% - 20%);
    overflow: hidden;
}

.about-owner-sec-images .img {
    width: 40%;
    overflow: hidden;
}

.about-owner-sec-images img {
    object-fit: cover;
    width: 100%;
}


footer {
    padding-inline: 35px;
    padding-top: 100px;
    height: 80vh;
    width: 100%;
}


footer textarea {
    resize: none;
    width: 100%;
    height: 46px;
    text-transform: uppercase;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    font-family: futura;
    overflow: hidden;
    outline: none;
    border: none;
    background: transparent;
    margin-bottom: 15px;
}

footer textarea::-webkit-input-placeholder {
    color: #000000;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 150px;
}

.list-03 {
    text-align: right;
}

.main-footer ul li:nth-child(1) {
    margin-bottom: 25px;
    cursor: text;
    color: #a7a7a7;
    font-size: 12px;
}

.main-footer ul li {
    transition: all 0.3s;
    line-height: 25px;
}

.main-footer ul li:hover {
    color: #a7a7a7;
    cursor: pointer;
}

.list-02-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.list-02-logo span {
    margin-right: 20px;
    font-size: 12px;
    color: #a7a7a7;
}

.footer-content {
    text-align: center;
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-block-start: 100px;
}

.footer-content p {
    width: 70%;
    line-height: 22px;
    padding-bottom: 100px;
}


@media (max-width : 600px) {
    #page1 {
        padding-inline: 10px;
    }

    #page1 h1 {
        font-size: 15.5vw;
        line-height: 13.5vw;
        letter-spacing: -2px;
    }

    .img-section .svg {
        width: 35%;
    }

    .img-section .svg h3 {
        font-size: 20px;
        font-weight: 800;
    }

    #page2 {
        padding-inline: 10px;

    }

    #page2 .cards .cards-box {
        width: 100%;
        height: 80vh;
    }

    #page2 .cards .cards-box img {
        scale: 1.2;
    }

    #page2 .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .card-shop {
        width: 90%;
    }

    #page3 {
        padding-inline: 10px;
    }

    #page3 h1 {
        width: 100%;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    #page3 .page3-upper-part {
        flex-direction: column;
    }


    #page3 .page3-upper-part .para {
        width: 100%;
        padding-right: 0;
        text-align: center;
        padding-top: 20px;
    }

    .page-3-box-container .page-3-boxes {
        width: 100%;
    }

    .page-3-box-container {
        width: 100%;
        flex-direction: column;
    }

    .page-3-box-img {
        width: 100%;
        overflow: hidden;
    }

    .page-3-box-img img{
        width: 100%;
    }

    #page4 {
        padding-inline: 10px;
    }

    .content-button button {
        font-size: 20px;
        min-width: 136px;
        max-width: 600px;
    }

    .content-button {
        align-items: start;
        overflow: hidden;
    }


    .page-4-content h1 {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 60px;
    }


    .about-owner {
        padding-top: 100px;
        flex-direction: column;
        min-height: 80vh;
    }

    .about-owner-content {
        width: 100%;
    }

    .about-owner-sec-images {
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
    .about-owner-sec-images .img {
        width: 50%;
    }

    footer {
        padding-inline: 10px;
        padding-top: 20px;
    }

    footer textarea {
        height: 70px;
        font-size: 24px;
        margin-bottom: 10px;
    }


    .main-footer {
        flex-direction: column;
    }

    .list-02-logo {
        align-items: start;
        margin-top: 30px;
    }

    .footer-content {
        justify-content: start;
    }

    .footer-content p {
        width: 70%;
        line-height: 22px;
        padding-bottom: 100px;
        text-align: start;
    }

    .logo-content{
        text-align: start;
    }

    .list-03 {
        text-align: right;
        margin-top: 20px;
    }

    .main-footer ul li {
        text-align: start;
    }
}